# Ignore version control and config
.git
.github
.gitignore

# Node modules and package manager files
node_modules/
.yarn/
.yarnrc
.pnpm-debug.log
npm-debug.log
*.log

# Build and TypeScript artifacts
dist/
out/
**/*.ts
**/*.js.map
**/*.map

# VS Code and test folders
.vscode/
.vscode-test/
.vscode-test-web/
test/
coverage/

# Lint and config files
.eslintrc.json
eslint.config.mjs
tsconfig.json

# Extension package and artifacts
*.vsix

# Miscellaneous
*.swp
*.swo
.DS_Store
Thumbs.db